@font-face {
    font-family: 'Indivisible';
    src: local('Indivisible Black'), local('Indivisible-Black'),
        url('Indivisible-Black.woff2') format('woff2'),
        url('Indivisible-Black.woff') format('woff'),
        url('Indivisible-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }